{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>New Expense</h2>
<form method="post">
    <div class="input-group mb-3 container-sm">
        <span class="input-group-text">Product Name</span>
        <input name="name" type="text" class="form-control">

        <span class="input-group-text">₱</span>
        <input name="price" type="text" class="form-control" aria-label="Peso amount (with dot and two decimal places)">
        
        <input class="btn btn-outline-primary" type="submit" value="Save">
    </div>
</form>

<hr>

<h2>Total: ₱ {{ total }}</h2>
    <div class="d-flex container-sm justify-content-center list-group">
    {% for expense in expenses %}
        <a href="{{ url_for('main.update', id=expense['id']) }}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ expense['name'] }}</h5>
                <small>₱ {{ expense['price'] }}</small>
            </div>
            <p class="mb-1 badge bg-primary rounded-pill">Bought on {{ expense['bought'] }}</p>
        </a>
    {% if not loop.last %}
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}
